<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Allow up to 100 MB uploads -->
    <security>
      <requestFiltering>
        <!-- 102400000 bytes = ~100 MB -->
        <requestLimits maxAllowedContentLength="102400000" />
      </requestFiltering>
    </security>

    <aspNetCore processPath="dotnet"
                arguments=".\Portal.Web.dll"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout"
                hostingModel="inprocess" />

  </system.webServer>
</configuration>
