<meta charset="utf-8">
<title>@ViewBag.Title | ClinicMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="ClinicMS Analytics Platform" name="description">
<meta content="ClinicMS" name="author">
<!-- App favicon -->
<link rel="shortcut icon" href="/assets/images/logo-sm.png">

<!-- Fonts css load -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link id="fontsLink" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
